h1{
    color: blue;background-color: aqua;
    text-align: center;
}
p{
    color: black;
    text-align: center;
}
#a1{
    color: blue;background-color: aqua;
    text-align: center;
}
#b1{
    color:blue ;background-color: aqua;
    text-align: center;
}